<div class="justify-content-center d-flex">
  <h1>Stupid Coaching</h1>
</div>

<div class="container">
  <ul>

  <li><%= params[:question] %></li>
  <li>Your answer</li>
<li>-You</li>
  <%= @answer %>

</li>

  <%= link_to "Ask another one", ask_path %>

  </ul>
</div>
